* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  @import url("https://fonts.googleapis.com/css2?family=Aleo&family=Josefin+Sans:wght@300;400;700&display=swap");
}
* .container {
  max-width: 1920px;
}

.bhromaon__row {
  background: url("img/HeaderBackground.jpg") 100%;
  background-size: cover;
  width: 100%;
  min-height: 862px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bhromaon__row .bhromaon__box {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 6%;
}
.bhromaon__row .bhromaon__box .bhromaon__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: white;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.bhromaon__row .bhromaon__box .bhromaon__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: white;
  margin-bottom: 48px;
}
.bhromaon__row .bhromaon__box .bhromaon__search {
  width: 647px;
  border: 1px solid white;
  min-height: 60px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bhromaon__row .bhromaon__box .bhromaon__search .bhromaon__btn {
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  width: 70%;
}
.bhromaon__row .bhromaon__box .bhromaon__search .bhromaon__btn::-webkit-input-placeholder {
  padding-left: 36px;
}
.bhromaon__row .bhromaon__box .bhromaon__search .bhromaon__btn::-moz-placeholder {
  padding-left: 36px;
}
.bhromaon__row .bhromaon__box .bhromaon__search .bhromaon__btn:-ms-input-placeholder {
  padding-left: 36px;
}
.bhromaon__row .bhromaon__box .bhromaon__search .bhromaon__btn::-ms-input-placeholder {
  padding-left: 36px;
}
.bhromaon__row .bhromaon__box .bhromaon__search .bhromaon__btn::placeholder {
  padding-left: 36px;
}
.bhromaon__row .bhromaon__box .bhromaon__search .bhromaon__btn2 {
  text-transform: uppercase;
  width: 139px;
  height: 52px;
  border: none;
  background: url("img/search.svg") no-repeat 20% 50% #5373fd;
  background-size: 16px;
  padding-left: 15px;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: white;
  margin-right: 3px;
}
@media (max-width: 680px) {
  .bhromaon__row .bhromaon__box .bhromaon__search {
    width: 90%;
  }
}
.bhromaon__row .bhromaon__scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  margin-top: 3%;
}
.bhromaon__row .bhromaon__scroll::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 49%;
  background: url("img/chevron-down.svg") no-repeat;
  width: 30px;
  height: 30px;
}

.link-logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.why__text {
  padding: 20px;
}

.why__row {
  min-height: 704px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("img/WhyBackground.jpg") no-repeat 100%;
  background-size: cover;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.why__row .why__title {
  font-family: "Aleo" sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: white;
}
.why__row .why__subtitle {
  font-family: "Josefin Sans" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #ffffff;
}

h3 {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: white;
}

.why__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  min-height: 306px;
  background-color: #333333;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 44px;
  /*bad line*/
  /*.why__blok2 {
    position: relative;
  } 
  .why__blok2::after {
    content: "";
    background: url("img/Line.svg") no-repeat;
    top: -100%;
    left: -119%;
    position: absolute;
    width: 150%;
    height: 100%;
    transform: scale(1.1) rotate(-1deg);
  }
  .why__blok2::before {
    content: "";
    background: url("img/Line.svg") no-repeat;
    top: -106%;
    left: 70%;
    position: absolute;
    width: 150%;
    height: 100%;
    transform: scale(1.1) rotate(-1deg);
  }*/
}

.why__btn {
  width: 213px;
  height: 60px;
  background: #5373fd;
  position: relative;
  overflow: hidden;
}
.why__btn a {
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 15%;
  font-family: "Aleo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.btn1 {
  width: 213px;
  height: 60px;
  background: #5373fd;
  position: relative;
  overflow: hidden;
}
.btn1 a {
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 30%;
  font-family: "Aleo";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.btn1:hover:after {
  content: "";
  position: absolute;
  width: 30%;
  height: 100%;
  background: url("img/Rectangle 8.svg") no-repeat;
  width: 50%;
  height: 100%;
  top: 0;
  left: 1px;
}

.why__img:hover {
  fill: blueviolet;
}

.why__img1 {
  margin-bottom: 10px;
}
.why__img1 img {
  max-width: 100%;
}

.why__img2 img {
  max-width: 100%;
  margin-left: 20%;
}

@media (max-width: 1025px) {
  .why__img2 img {
    margin-left: 10%;
  }
}
.menu__btn a {
  padding: 0;
}

.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5373fd;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: relative;
  z-index: 5;
  padding-right: 20px;
}

.header__list li {
  margin: 0 0 0 20px;
}

.header__burger {
  display: none;
}

.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header__logo {
  position: relative;
  z-index: 100;
  padding-left: 20px;
  color: white;
}

.spain__row {
  width: 100%;
  min-height: 684px;
  background: url("img/render-1477041_1280 1.jpg") 50% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spain__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.spain__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 648px;
  min-height: 344px;
  background: rgba(35, 35, 35, 0.9);
}

.spain__logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
}

.spain__title {
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: white;
  text-transform: uppercase;
}

.spain__desc {
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
}

.spain__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 32px;
}

.spain__row2 {
  width: 100%;
  min-height: 684px;
  background: url("img/spain-1859434_1280 1.jpg") 50% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spain__box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 648px;
  min-height: 344px;
  background: rgba(35, 35, 35, 0.9);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what__row {
  background: url("img/BG.jpg") 100% no-repeat;
  width: 100%;
  min-height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  background-size: cover;
}

.what__title {
  font-family: "Aleo", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  color: white;
  text-align: center;
}

.what__subtitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.what__desc {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: white;
  position: relative;
  text-indent: 25px;
}

.what__box {
  width: 100%;
  background: #333333;
  padding: 45px 60px;
}

.what__img {
  background: url("img/ReviewPhoto.jpg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-position: right;
}

.what__desc::after {
  content: "";
  position: absolute;
  background: url("img/quote-left.svg") no-repeat;
  width: 24px;
  height: 24px;
  top: -2px;
  left: -3px;
  display: block;
}

.footer__box {
  width: 100%;
  min-height: 268px;
  background: black;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.footer__box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 275px;
}
.footer__box ul li {
  list-style-type: none;
}
.footer__box .footer__subtitle {
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: white;
}
.footer__box .footer__links:hover {
  fill: #494bb3;
}

@media (max-width: 1360px) {
  .bhromaon__row {
    background: url("img/HeaderBackground.jpg") 46%;
    background-size: cover;
  }

  .what__img {
    width: 90%;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .bhromaon__row .bhromaon__scroll {
    margin-top: 6%;
  }
  .bhromaon__row .bhromaon__box {
    margin-top: 9%;
  }

  .what__img {
    width: 100%;
    background-position-x: center;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  ul.why__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .why__logo {
    text-align: center;
  }

  .why__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .why__text {
    text-align: center;
  }
  .why__text .why__btn {
    margin: 0 auto;
  }

  .why__box-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .why__box-img .why__img2 img {
    margin-left: 2%;
  }

  .why__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 800px;
  }

  .what__img {
    width: 100%;
    min-height: 400px;
  }

  .what__row {
    min-height: 1000px;
  }
}
@media (max-width: 1025px) {
  .why__img2 img {
    margin-left: 10%;
  }
}
.menu__btn a {
  padding: 0;
}

.header {
  position: sticky;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5373fd;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  position: relative;
  z-index: 5;
  padding-right: 20px;
}

.header__list li {
  margin: 0 0 0 20px;
}

.header__burger {
  display: none;
}

.header__link {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}

.header__logo {
  position: relative;
  z-index: 100;
  padding-left: 20px;
  color: white;
}

@media (max-width: 576px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 5;
    top: 15px;
    right: 20px;
  }

  .header__burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00ffaa;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
.header__burger::after {
    content: "";
    background-color: aqua;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5373fd;
    padding: 70px 10px 20px 10px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    top: 0;
  }

  .header__logo {
    z-index: 5;
  }

  .header__body {
    height: 50px;
  }

  .header__list {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }

  .header__link {
    font-size: 24px;
  }
}